.bag_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  margin-bottom: 20px; /* Add margin for spacing between bag items */
  padding: 15px;
  flex-direction:row;
  font-size: 1.25rem;
  border: 1px solid black ;
  margin: 1rem;
  background-color: forestgreen;
}

.cart_img {
  display: flex;
  align-items: center;
}

.cart_img img {
  margin-right: 10px; /* Add margin between image and bag count */
}

.bag-count {
  background-color: #ff4500; /* Adjust color as needed */
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.btn-container button {
  margin: 0 5px; /* Add margin between buttons */
}

@media (min-width: 1107px) {
  .bag_box  {
    font-size: 1rem;
    margin: -80px;
    padding: 10px 15px;
  }
}
.total {
  font-size: 1.25rem;
  color: coral;
  padding: 15px;
}

.checkout {
  flex-direction:column;
  
}

.checkoutBtn {
  margin-left: 1rem;
}

