.authBody {
height: auto;
width: auto;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-image: url(https://images.unsplash.com/photo-1612305424474-403a79cc4383?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 1rem;
padding: 10%;



}

.authTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #f8faf9;
}

.authForm {
  display: flex;
  height: 18vh;
  width: auto;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
  border-radius: 6px;
  position: relative;
  
  
}

.loginForm {
  display: flex;
  border: 1 px solid black;
  height: 18vh;
  width: auto;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
  border-radius: 6px;
 
}

.authBtn{
  border-radius: 6px;
  font-size: 20px;
  background-color:  #28a745;
  color: black;
  border: 2px solid black; 
  margin: .5rem;
}
.authBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}