
.logo{
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  padding-top: 20px;
  height: 100px;
  width: 160px;
}
nav {
  font-size:20px;
  display: flex;
  height: 50%;
  flex-direction: column;
  margin-top: -80px;
  margin-left: 40%;
  justify-content: center;
 
}

.navigation a {
  color: #e1e1e1;
  text-decoration: none;
  /* margin-top: 50px; */
  padding: 10px;

  
}
.navigation a:hover{
  color: orange;
  
}

.auth a {
  color: #e1e1e1;
  text-decoration: none;
  margin-right: 40px;
  padding: 10px;
}
.auth a:hover{
  color: orange;
  
}
.bag{
  display: flex;
  text-decoration: none;
  justify-items: center;
  color: #e1e1e1;
  margin-left: 700px;
}

.bag:hover{
  color: orange;
  
}

.iconBag{
display: flex;
gap: 10px;
}

.bagicon{
  color: #e1e1e1;
  width: 25px;
  height: 35px;
}
.bagicon:hover{
  color: orange;
  
}

/* notification on the image */
.bagicon-wrapper {
  position: relative; 
}

.bagcount {
  position: absolute; 
  top: -8px; 
  right: -8px; 
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  font-size: 12px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

/* count */
.bag-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  margin-left: 5px;
}

.bag-message {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}


@media (max-width: 1293px) {
.bag {
   margin-left: 70%;
  }
}