nav {
  font-size:20px;
  display: flex;
  height: 50%;
  flex-direction: column;
  margin-left: 40%;
  justify-content: center;
 
}

.navigation a {
  color: #e1e1e1;
  text-decoration: none;
  /* margin-top: 50px; */
  padding: 10px;

  
}
.navigation a:hover{
  color: orange;
  
}

.auth a {
  color: #e1e1e1;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
}

