
.card-container{
  display: flex;
  flex-wrap:wrap;
}

.card {
  /* display: flex; */
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content; 
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-content {
  flex-grow: 1;
  padding-left: 10px;
}

.card-title {
  font-size: 20px; 
  margin: 0;
}

.card-price {
  font-size: 18px; 
  color: #666;
  margin: 10px 0; 
}


.card-button {
  padding: 10px 20px; 
  background-color: #ed5c0b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.card-button:hover {
  background-color: #0056b3;
}

.quantity-section{ 
  width: 100px;


}