.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: auto;
  margin: 1rem;
  background-image: url(/images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.border {
  display:flex;
  /* text-wrap: nowrap; */
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 2px solid black;
  background-color: #F0F8FF;
  height: auto;
  width:auto;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 5px 10px 8px #888888;
  background-image: linear-gradient(175deg, rgb(0 0 0 / 0%) 95%, #8da389 95%),
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 95%, #56924b 95%),
  /* linear-gradient(175deg, rgb(0 0 0 / 0%) 90%, #b4b07f 90%), */
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 92%, #b4b07f 92%),
  linear-gradient(175deg, rgb(0 0 0 / 0%) 85%, #c5a68e 85%),
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 89%, #c5a68e 89%),
  /* linear-gradient(175deg, rgb(0 0 0 / 0%) 80%, #ba9499 80%), */
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 86%, #ba9499 86%),
  linear-gradient(175deg, rgb(0 0 0 / 0%) 75%, #9f8fa4 75%),
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 83%, #9f8fa4 83%),
  linear-gradient(175deg, rgb(0 0 0 / 0%) 70%, #74a6ae 70%),
  linear-gradient( 85deg, rgb(0 0 0 / 0%) 80%, #74a6ae 80%);
  
}

.harvest {
  font-size: 2rem;
  color: black;
  padding: 1rem;

}

.farm {
  font-size: 1.5rem;
  color: black;
 
}

.homeImg {
  margin: 1rem;
  height: 25rem;
  width: 25rem;
  border-radius: 10%;
}

.lhLogo {
  height:14rem;
  width: min-content;
  border-radius: 10%;
}