.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 1rem;
  background-image: url(/images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.border {
  display:flex;
  /* text-wrap: nowrap; */
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 2px solid black;
  background-color: #F0F8FF;
  height: 22rem;
  width:auto;
  padding: 10px;
  border-radius: 10%;
  
}

.harvest {
  font-size: 2rem;
  color: black;
  padding: 1rem;

}

.farm {
  font-size: 1.5rem;
  color: black;
 
}

.homeImg {
  margin: 1rem;
  height: 25rem;
  width: 25rem;
}

.lhLogo {
  height:14rem;
  width: min-content;
  border-radius: 10%;
}