/*  */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  max-width: 100%;
  background-image: url(../../assets/images/hero3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Get involve button */
.homebtn {
  display: flex;
  padding: 10px 20px; 
  justify-content: center;
  background-color: #ed5c0b;
  color: #fff;
  border: none;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 190px;
  margin-right: 100px;
  outline: none;
  justify-items: center;
}

.homebtn:hover {
  background-color: #0056b3;
}

.harvest {
  font-size: 2rem;
  color: black;
  padding: 1rem;
}

.farm {
  font-size: 1.5rem;
  color: black; 
}

.homeImg {
  margin: 0%;
  height: 15rem;
  width: 18rem;
  border-radius: 10%;
}

/* image of man on truck and text area on the right*/
.blog{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 40px;
  gap: 20px;
  width:fit-content;
}

/* block of text on the right */
.text2{
  margin-left: 0;
  margin-right:0;
  text-align: justify;
}

.farmTitle{
 display: flex;
 justify-content: center;
 background-color: bisque;
}

/* first image on the left man on truck */
.farmTruck{
  display: flex;
  margin-top: 40px;
  height: 400px;
  width: 600px;
  box-shadow: 2px 2px 5px rgb(92, 116, 151);
  border-radius: 10px
}

.farmBtn{
  display: flex;
  padding: 10px 20px; 
  margin-top: 30px;
  margin-left:580px;
  background-color: #ed5c0b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.farmBtn:hover{
background-color: #0056b3;
}

.farm{
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-shadow: grey(92, 116, 151);
}

.farmTitle{
  color: #ed5c0b;
  font-size: 26px;
}

.secondArticle{
  display: flex;
  width: 800px;
  margin-left: 20rem;
  margin-top: 40px;
  text-align: justify;

}

@media only screen and (max-width: 600px) {
  .blog{
    flex-direction: column;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1228px) {
  .blog{
    flex-direction: column;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1228px) {
  .secondArticle{
    display: flex;
    margin-left: 100px;
   justify-content: center;
    font-size: 25px;
  }
