


.footer {
  /* min-height: calc(100vh - 200px); */
  background-color: #0e3053  ;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

/* .images {
  display: flex;
  justify-content:space-around;

} */

.logos {
  height: 50px;
  width: 75px;
  margin: 5px;

}

.copyright {
  color: #e1e1e1;
  font-size: 20px;
}

.connect {
  color: #e1e1e1;
  margin: 40px;
  font-size: 20px;
}