.footer {
  background-color: #0e3053;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  height: 3rem;
  width: 4rem;
  margin: 30px;
}

.copyright {
  display: flex;
  margin-left: -300px;
  color: #e1e1e1;
  font-size: 20px;
}

.connect {
  color: #e1e1e1;
  margin: 40px;
  font-size: 20px;
}

.footerImages {
  display: flex;
  flex-wrap: wrap;

}

.allfooter {
  display: flex;
}