.header {
  width: 100%;
  height: 400px;
  background-image: url(/images/headerImage.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
 

}

.projectName{
    display: flex;
    margin-left: 700px;
    color: aliceblue;
    font-weight: 90px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 
  }
  
